@page "/categorieën/{id:int}/bewerken/{optionId:int}"
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles="Administrator")]

<PageTitle>Optie bewerken</PageTitle>

<div class="category-add-title" style="gap: 10px;">
    <Button class="back-button" Clicked="@(() => OnButtonClicked())">
        <Icon Name="IconName.ArrowLeft" />
    </Button>
    <h3 class="mb-0">Optie bewerken</h3>
</div>

<div class="div-form">
    <Card>
        <CardBody>
            @if (Model == null)
            {
                @if (!string.IsNullOrEmpty(errorMessages))
                {
                    <div class="alert alert-danger mt-3">@errorMessages</div>
                }
                else
                {
                    <p>Laden...</p>
                }
            }
            else
            {
                @if (!string.IsNullOrEmpty(errorMessages))
                {
                    <div class="alert alert-danger mt-3">@errorMessages</div>
                }
                <EditForm class="edit-form" Model="@Model" OnValidSubmit="@ValidateData">
                    <Validations @ref="@fluentValidations" HandlerType="typeof(FluentValidationHandler)" Mode="ValidationMode.Auto" Model="@Model">
                        <Validation>
                            <Field>
                                <FieldLabel RequiredIndicator>Naam</FieldLabel>
                                <TextEdit @bind-Text="@Model.Name" id="input-name" />
                                <ValidationMessage For="() => Model!.Name" />
                                <ValidationError />
                            </Field>
                        </Validation>
                        <Validation>
                            <Field>
                                <FieldLabel RequiredIndicator>Code</FieldLabel>
                                <TextEdit @bind-Text="@Model.Code" id="input-code" />
                                <ValidationMessage For="() => Model!.Code" id="input-code" />
                                <ValidationError />
                            </Field>
                        </Validation>
                        <Button Type="ButtonType.Submit" class="btn btn-primary add-button">Bewerken</Button>
                    </Validations>
                        
                </EditForm>
            }
        </CardBody>
    </Card>
</div>